.App {
  text-align: center;
  
}


.body{
  background-image: "https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.spherewms.com%2Fblog%2Fwarehouse-inventory-management-guide-tips-best-practices&psig=AOvVaw1u85iWG89EL3lqIsBJbRAb&ust=1699723007311000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCKCrzOL3uYIDFQAAAAAdAAAAABAE";
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
